header {
    width: 100%;
    min-height: 3em;
    background-color: #eee;
    box-sizing: border-box;
    padding: 1em;
    transition: background-color .25s;
}

/* .fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
} */

/* html:not([data-scroll='0']) main {
    padding-top: 3em;
} */

/* html:not([data-scroll='0']) .Header {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
} */