.resizeable {
    width: 5em;
    height: 5em;
    border: 1px solid black;
    /* position: absolute; */
    resize: both;
    overflow: hidden;
    mix-blend-mode: hard-light;
    border-radius: 0.3em;
}