input {
    -webkit-appearance: none;
    width: 100%;
    max-width: 99%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-bottom: 10px;
}

form {
    width: 260px;
    height: 260px;
    margin: 0 auto;
}