.Bottom{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    gap: 40px;
    width: 100%;
    max-width: 100%;
    background-color: aliceblue;
    padding-left: 0px;
    height: 60px;
    margin-bottom: 0px;
    border-bottom: 0px;
    padding-bottom: 0px;
}

html:not([data-scroll='0']) .Bottom{
    position: fixed;
    bottom: 10;
}