.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.leftbar {
    grid-area: leftbar;
}

.rightbar {
    grid-area: rightbar;
}

.footer {
    grid-area: footer;
}

.leftbar,
.rightbar {
    padding-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 20fr 20fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "leftbar main main rightbar"
        "footer footer footer footer";
}

@media screen and (max-width: 820px) {
    .container {
        
    }
}

@media screen and (max-width: 560px) {
    .container {
        
    }
}