.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.leftbar,
.rightbar {
    padding-top: 100px;
}

main {
    padding: 0 0em;
    padding-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 820px) {
    .container {
        grid-template-columns: 1fr 20fr;
    }
}

@media screen and (max-width: 560px) {
    .container {
        grid-template-columns: 1fr
    }
    .Bottom{
        justify-content: none;
    }
}