*{
    transition-property: all;
    transition-duration: 0s;
    transition: all 0.1s;
}

.photos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
}

figure,
img {
    width: 100%;
    margin: 0;
}

.whitebackground{
    background-color: #fff;
}

.photocaption{
    font-size: 8px;
    font-weight: lighter;
}

.shadowunder{
    box-shadow: 0 4px .5em -2px rgba(0, 0, 0, 0.5);
}

.fixedtop{
    position: 'fixed';
    top: 0;
}

html:not([data-scroll='0']) {
    padding-top: 0em;
}

html:not([data-scroll='0']) header {
    position: fixed;
}
