.bordertop {
    border-top: 1px solid black;
}

.underline {
    text-decoration: underline;
}

.rightline {
    border-right: 1px solid black;
}

.leftline {
    border-right: 1px solid black;
}

.borderbottom {
    border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}

.boldtext {
    font-weight: bold;
}

italic {
    font-style: italic;
}

strike {
    text-decoration: line-through;
}

.boxline {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.full-height {
    height: 100%;
}

.overflow {
    overflow: auto;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.floatright {
    float: right;
}

.evenspacebetween {
    justify-content: space-evenly;
}

.hidden {
    display: none;
    position: absolute;
    top: 0;
}